ul
{
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
}

#sortable-cards > li
{
	margin: 2%;
	height: 200px;
	width: 96%;
	position: relative;
}

#sortable-cards li.orderable
{
	cursor: grab;
}

#new-graph-card
{
	cursor: pointer;
}

#sortable-cards li>.w3-card-4
{
	height: 100%    
}

#notification-card > ul > li
{
	margin: 5px;
	width: 150px;
	height: 100px;
	float: left;
}

#notification-card div.w3-card-2
{
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	padding: 2px;
}


#gw-map
{
	height: 100%;
	width: 66.6%; 
	float: left;
	padding: 10px;
}

#gw-form
{
	height: 100%;
	width: 33.3%;
	float: left;
	padding: 10px;
}
#gw-instruction-box
{
	position: relative;
	margin: 1%;
	width: 98%;
	height: 40%;
	border: 1px solid black;
}

#gw-instruction-box .w3-bar
{
	position: absolute;
	bottom: 10px;
	width: 100%
}

#gw-instruction-box .w3-button
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%
}

#gw-form table
{
	margin: 1%;
	margin-top: 20px;
	width: 98%;
	position: relative;
	height: 40%;
}

#gw-instruction-box > p
{
	margin: 3px;
	overflow-y: auto;
}

#rule-form
{
	height: 100%;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#rule-form table
{
	margin: 2%;
	width: 96%;
	position: relative;
}

table td
{
	white-space: nowrap;
}

table td:not(:first-child)
{
	padding-left: 15px;
}

table td:last-child
{
	width: 100%;
}

table input,select
{
	padding-right: 10px;
	border: 1px solid #aaaaaa;
	width: 85%;
	background-color: #fff;
}

#save-div
{
	position: relative;
	margin: 1%;
	width: 98%;
	height: 15%;
}

#rule-save-div
{
	margin: 2%;
	margin-top: auto;
	width: 96%;
	height: 10%;
}

#btnSave
{
	width: 25%;
}

.ui-widget-overlay > p
{
	font-size: large;
}

.chart-container
{
	position: absolute;
	padding: 10px;
	height: 200px;
	width: 100%;
}

.graph-overlay
{
	background: #eeeeee;
	opacity: .8;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dd-container
{
	position: relative;
	float: right;
	margin: 2px;
	display: inline-block;
	z-index: 1;
}

.dd-button
{
	border: none;
	cursor: pointer;
}

.dd-button:hover, .dd-focus
{
	background-color: graytext;
}

.dd-content
{
	display: none;
	position: absolute;
	color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	right: 0;
}

.dd-content div
{
	padding: 12px 16px;
	text-decoration:  none;
	display: block;
	cursor: pointer;
}

.dd-content div:hover
{
	background-color: graytext;
}

.dd-show
{
	display: block;
}

