@font-face
{
	font-family: 'firasansregular';
	src: url('./fonts/FiraSans-Regular.woff2') format('woff2');
}

html, body
{
	height: 100%;
	font-family: 'firasansregular', trebuchet, sans-serif;
}

#main-content
{
	position: fixed;
	top: 39px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: auto;
}

.w3-container p
{
	font-size: 12pt;
}

.w3-fhwa-navy {color: #fff !important; background-color: #15396c !important}
.w3-fhwa-cyan {color: #fff !important; background-color: cyan !important}
#chkAlerts
{
	vertical-align: middle;
	margin-left: 5px;
}

#divSubResult
{
	font-size:13px;
}

#footer 
{ 
	color: #ffffff;
	position:absolute; 
	padding-bottom:2px;
	height: 22px; 
	left:0; 
	bottom:0; 
	width:100%;
	font-size: 12px;
	z-index: auto; /* override w3c z-index so legend is on top of map */
}

#footer.mapfooter
{
	height: 44px;
}

  
#legendDeck
{
	display: none;
	position: fixed;
	bottom: 500px;
	z-index: 1000;
	height:0px;
}
  
  
#spnTime
{
	margin-left:5px;
}

#divFooterControls
{
	padding-left:2px;
	padding-right:2px;
}

.ui-dialog
{
	z-index: 1000;
}
  
#bodyContent,#map-container
{ 
	position: absolute; 
	top:39px; 
	bottom:22px; 
	left:0;
	width:100%;
}

.column-content
{
	height:90%;
}
  
#divFooterControls > div
{
	margin-top:1px;
}
  
.ui-dialog
{
	z-index: 1000;
}
  
.column
{
	height:100%;width: 33%;
}

.column-left
{
	float: left;
}

.column-right
{
	float: right;
}

.column-center
{
	display: inline-block;
}

.column .column-header
{
	width:100%;
	height: 10%;
	text-align:center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.5em;
}

#dialog-form
{
	font-size: 1.0em;
}

.alert-container
{
	height:50%;
}

.alert-container table
{
	width:90%;
	margin: 0 auto;
}

.forecastClock
{
	height:100%;
	max-width: 100%;
	float:right;
}

.clock-container .clock-label
{
	float:left;
	position: absolute;
	top: 50%; 
	transform: translate(-50%,-50%);
}

.column-center  .chart-container
{
  height: 33%;
  width: 100%;
  position:relative;
}

.column-center .chart-anchor
{
	max-height: 85%;
}

.column-center .chart-label
{
	text-align: center;
}

.column-right  .chart-container, .clock-container
{
	height: 25%;
}

.column-right  .chart-container
{
	width:100%;
}

.clock-container
{
	width:60%;
	margin: 0 auto;
	position: relative;
}

.chart-anchor
{
	max-width: 100%;
	width:100%;
	height:100%;
	max-height: 100%;
}

.column-right .chart-anchor
{
	max-width: 50%;
	width: 50%;
	height:auto;
	float: right;
}

.column-right .chart-label
{
	float:left;
}


TD.LatLngLabel
{
	width:60px;
}

.no-title-form .ui-dialog-titlebar 
{
   display:none;
}

#divReportDialog input[type="radio"]
{
	margin-left:0px;
	margin-right: .5em;
}

#divReportDialog textarea, #txtName
{
	width: 100%;
}

#divReportDialog input[type="text"]
{
	width: 60%;
}

#divReportDialog td
{
	padding-top:2px;
	padding-bottom:2px;
}

#divReportDialog input[type="button"]
{
	width:80px;
	margin-right:4px;
	margin-left: 0px;
}

.reportObstypeLabel
{
	width:5em;
}

.obstype-pane-list label input
{
	margin-right: 5px;
}

.alert-marker-icon
{
	margin-top:12px;
}

#platform-details
{
	position:relative;
	word-wrap:break-word;
	white-space: pre-wrap;
} 

.no-title-form .ui-dialog-titlebar-close
{
	top:0.3em !important;
	right:0.3em !important;
}

/*This resolves a ui-dialog bug where the right margin starts to inccrease
the more you resize the dialog*/
.ui-dialog .ui-dialog-content 
{
	width: 100% !important;
}

#obs-data
{
	width:100%
}

thead.obs-table
{
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #000;
}

#footer input, #footer select
{
	color: #000;
}

#divReportDialog label
{
	margin-right:.25em;
}

.timeslider-container .ui-slider-horizontal
{
	height: 20px;
}

.timeslider .ui-slider-handle 
{
	width: 5em;
	padding: 0px;
	text-align: center;
	height: 20px;
	margin:0em .3em;
	margin-left:-2.5em;
	top: -1px;
	z-index:800;
 }
 
.timeslider
{
	margin: 0px 38px 1px 33px; 
}

.timeslider-container
{
	padding: 0px;
	flex: 20;
}

label > input[type="checkbox"]
{  
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

#divInputContainer
{
	position: absolute; 
	top: 0px; 
	z-index: -10
}

#divFooterControlsLeft
{
	float:left;
}

#divFooterControlsRight
{
	float:right;
	position:relative;
}

#lstReportObstypes
{
	width: auto;
}

#txtLocationLookup
{
	width: 22em;
}

.ui-autocomplete
{
	z-index: 5000;
}

.input-focused
{
	color: black;
}

.input-not-focused
{
	color: gray;
}

#save-user-view,.obs-group-btn
{
	min-width:150px;
	cursor: pointer;
}

ul.layer-legend li
{
	padding: 2px 2px 2px 16px;
	margin-right: 5px;
}

.footer-button-container
{
	float:left; 
	position:relative;
	padding-right: 5px;	
}

.footer-button
{
	margin-right:.5em;
	height:20px;
	/*width:102px;*/  
	cursor: pointer !important;
}

#footer-button-container div
{ 
	display: inline-block;
}

#settingsPane div
{
	width: 160px;
}

div.settingsRow div
{
    padding-right:.5em;
    border-right: 1px solid #ddd;
}

div.settingsRow
{
	display:flex; flex-direction: row;
	border-bottom: 1px solid #ddd;
	padding: .5em;
}

div.settingsRow:last-of-type
{
	border-bottom: none;
}

div.settingsRow div:last-child 
{
	border-right: none;
}

.tooltip
{
    position:relative;
}

.tooltip:hover
{
	text-decoration:none;
	z-index:1001;
	position:relative;
}

.tooltip:after
{
	content: attr(tip);
	position:absolute;
	bottom:27px;
	left:10px;
	display:none;
}

.tooltip:hover:after
{
	display:block;
}

.tooltip:hover:before
{
	display:block;
}

.tooltip-content,.tooltip:after  
{
	font-size: 15px;
	font-style:normal;
	line-height:1.2em;
	width:200px;
	padding:5px 10px;
	border-radius:6px;
	color: #000!important;
	background-color: #fdf5e6!important;
	box-shadow: 3px 3px 4px rgba(0,0,0, .65);
}

.over-map
{
	z-index:2000;
}

ul.w3-ul.ul-no-border li
{
	border: none;
}

.chart-link
{
	cursor: pointer;
}

#chart-container .close-chart
{
	top:20px;
	right:5px;
	position:absolute;
	cursor: pointer;
}

#chart
{
	background-color: white;
}

.clickable 
{
	cursor:pointer !important;
}

.selected-obstype 
{
	padding-right:.5em;
}
    
.divStack div.ui-widget-content
{
	background: #f2f2f2;
}

.legend-heading 
{
	padding: 3px;
	display: inline-block;
	width: 100%;
}

.layer-legend li i 
{
    margin-right: 5px;
}

.obstype-pane-list li i, #obs-data i
{
	margin-left:5px;
}

div.divStackLayer ul.w3-ul.ul-no-border li
{
	padding-left:5px;
}

table.network-table
{
	table-layout: auto;
	border-collapse: unset;
}

table.network-table td
{
	padding-bottom: 10px;
}

table.network-table td:nth-child(1)
{
	vertical-align: top;
	white-space: nowrap;
}

table.network-table td:nth-child(2)
{
	display: inline-table;
	margin-left: 20px;
	white-space: normal;
}

.road-legend
{
	text-align: left;
	list-style: none;
	padding-left: 0px;
}

.road-legend li
{
	margin-left: 0;
	margin-bottom: 8px;
}

.road-legend li span
{
	display: block;
	float: left;
	height: 24px;
	width: 30px;
	margin-right: 10px;
	margin-left: 0;
	border: 1px solid #999;
}

.det-edit-table
{
	border-spacing: 10px 0;
	border-collapse: separate;
}

.det-edit-table td
{
	padding: 2px 0;
}

.det-status-table
{
	border-spacing: 10px 0;
	border-collapse: separate;
	width: 100%;
}

.det-status-table td
{
	padding: 2px 0;
}

.det-status-table td:nth-child(2)
{
	text-align: center;
	text-align: -moz-center;
	min-width: 30%;
}

.borderdashed
{
	border-style: dashed;
}

.centered-element
{
	position: relative;
	width: 50%;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.wait
{
	cursor: wait;
}

#pageoverlay
{
	opacity: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	position: fixed;
	background-color: black;
}

#pageoverlay > p
{
	color: white;
}

.flex-row-break
{
	flex-basis: 100%;
	height: 0;
}

.crosshaircursor
{
	cursor: crosshair;
}

.waitcursor
{
	cursor: wait;
}

.notallowedcursor
{
	cursor: not-allowed;
}

.popup 
{
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptextabove,
.popup .popuptextbelow
{
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 9999;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptextabove
{
	bottom: 125%;
}

.popup .popuptextbelow
{
	top: 125%;
}

/* Popup arrow */
.popup .popuptextabove::after,
.popup .popuptextbelow::after 
{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
}

.popup .popuptextabove::after
{
	top: 100%;
	border-color: #555 transparent transparent transparent;
}

.popup .popuptextbelow::after
{
	bottom: 100%;
	border-color: transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show 
{
	visibility: visible;
}

#dlgGroupList, #dlgReport, #dlgEditUser, #dlgUserMetadata
{
	overflow: visible;
}

#dlgGroupList
{
	overflow-y: auto;
}

.grayout
{
	opacity: 0.25;
}

.flexbox label
{
	width: 100%;
	padding-left: 5px;
}
.flexbox input
{
	width:95%;
}

.flexbox
{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 3px;
}

.flex1
{
	flex: 1;
}

.flex2
{
	flex: 2;
}

.flex3
{
	flex: 3;
}

.flex10
{
	flex: 10;
}

.highlightborder
{
	border-radius: 5px;
	border: 2px solid #15396c;
}

.transparentborder
{
	border-radius: 5px;
	border: 2px solid transparent;
}

.marginbottom12
{
	margin-bottom: 12px;
}

.obs-detail-row
{
	margin-top: 2px;
	border-radius: 6px;
}

.obs-detail-item
{
	display: inline-block;
	width: 175px;
}

#dlgObsDetail .ui-accordion .ui-accordion-content
{
	padding-left:1.7em;
}

.divStack, .divStackLayer
{
	height: 450px;
}

.dashboardtooltip
{
    position:relative;
}

.dashboardtooltip:hover
{
	text-decoration:none;
	z-index:1001;
	position:relative;
}

.dashboardtooltip:after
{
	content: attr(tip);
	position:absolute;
	bottom:0px;
	left:30px;
	display:none;
}

.dashboardtooltip:hover:after
{
	display:block;
}

.dashboardtooltip:hover:before
{
	display:block;
}

.dashboardtooltip-content,.dashboardtooltip:after  
{
	font-size: 15px;
	font-style:normal;
	line-height:1.2em;
	width:110px;
	padding:5px 10px;
	border-radius:6px;
	color: #000!important;
	background-color: #fdf5e6!important;
	box-shadow: 3px 3px 4px rgba(0,0,0, .65);
}


