@font-face
{
  font-family: 'firasansregular';
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2');
}

html, body
{
	height: 100%;
	font-family: 'firasansregular', trebuchet, sans-serif;
}

.w3-container p
{
	font-size: 12pt;
}

#main-content
{
	position: fixed;
	top: 39px;
	right: 0px;
	bottom: 39px;
	left: 0px;
	overflow: auto;
}
